[user]
    email = iam@nicolashoening.de
    name = nhoening
[push]
    default = simple
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[alias]
    tree = log --oneline --graph --decorate --all
	lg = log --graph --branches --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
